/* src/pages/kits.css */
.kits-page {
  padding: 2rem;
  background-image: url('../images/page-bg.jpg');
  background-size: contain;
  padding-top: 7rem;
}
  .kits-page h1 {
    text-align: center;
    color: #00FFFF; /* Vibrant cyan */
    margin-bottom: 2rem;
  }
  
  .kits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
  
  .kit-item {
    background-color: #1E1E1E;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .kit-item:hover {
    transform: translateY(-5px);
  }
  
  .kit-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .kit-item h3 {
    color: #FF00FF; /* Vibrant magenta */
    text-align: center;
    padding: 1rem;
  }
  
  .view-kit-btn {
    display: block;
    width: 80%;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #00FFFF; 
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-kit-btn:hover {
    background-color: #FF00FF; 
    color: #ffffff;
  }
  .view-kit-btn:focus {
    outline: 2px solid #FF00FF;
    outline-offset: 2px;
}
  .links
  {
    text-decoration: none;
  }
