.login-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: url('../images/login-bg.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 6rem;
}

.form-container {
  background: rgba(30, 30, 30, 0.8);
  padding: 2rem;
  border-radius: 0.625rem; 
  text-align: center;
  box-shadow: 0 0 1.25rem pink; 
  transition: transform 0.3s ease;
  width: 100%;
  max-width: 50vw;
  overflow: hidden;
  position: relative;
}

.form-container:hover {
  transform: scale(1.05);
}

.form-content {
  transition: transform 0.6s ease-in-out;
  width: 100%;
}

.sign-in-form {
  transform: translateX(0);
  padding-bottom: 2rem;
}

.sign-up-form {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
}

.form-container.sign-up-mode .sign-in-form {
  transform: translateX(-120%);
}

.form-container.sign-up-mode .sign-up-form {
  transform: translateX(0);
}

h1 {
  color: #00FFFF;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-shadow: 0 0 0.625rem rgba(0, 255, 255, 0.5); 
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
}

input, textarea {
  padding: 0.8rem;
  border: none;
  border-radius: 0.3125rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1rem;
}

input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  resize: vertical;
}

button {
  padding: 0.8rem;
  border: none;
  border-radius: 0.3125rem; 
  background-color: #FF00FF;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00FFFF;
  color: #1E1E1E;
}

p {
  margin-top: 1rem;
  color: white;
}

a {
  color: #00FFFF;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

a:hover {
  color: #FF00FF;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-1.25rem); } 
  100% { transform: translateY(0px); }
}

.form-container {
  animation: float 6s ease-in-out infinite;
}


